$blue: #4386d0;
$darkblue: #01172d;

@font-face {
	font-family: 'OpenSans';
	src: url('../../fonts/OpenSans.eot');
	src: url('../../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/OpenSans.woff') format('woff'),
		url('../../fonts/OpenSans.ttf') format('truetype'),
		url('../../fonts/OpenSans.svg#OpenSans-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans Bold';
	src: url('../../fonts/OpenSans-Bold.eot');
	src: url('../../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/OpenSans-Bold.woff') format('woff'),
		url('../../fonts/OpenSans-Bold.ttf') format('truetype'),
		url('../../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans Light';
	src: url('../../fonts/OpenSans-Light.eot');
	src: url('../../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/OpenSans-Light.woff') format('woff'),
		url('../../fonts/OpenSans-Light.ttf') format('truetype'),
		url('../../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../../fonts/MyriadPro-Regular.eot');
	src: url('../../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/MyriadPro-Regular.woff') format('woff'),
		url('../../fonts/MyriadPro-Regular.ttf') format('truetype'),
		url('../../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: url('../../fonts/Raleway-Light.eot');
	src: url('../../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Raleway-Light.woff') format('woff'),
		url('../../fonts/Raleway-Light.ttf') format('truetype'),
		url('../../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'RalewayRegular';
	src: url('../../fonts/RalewayRegular.eot');
	src: url('../../fonts/RalewayRegular.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/RalewayRegular.woff') format('woff'),
		url('../../fonts/RalewayRegular.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

p {
    font-family: 'RalewayRegular';
    font-size: 17px;
}
section {
    h1 {
        font-family: 'Open Sans Light';
        font-size: 48px;
        margin-top: 10px;
    }
    h2 {
        font-family: 'Open Sans Light';
        font-size: 40px;
        margin-top: 10px;
    }
    h3 {
        font-family: 'Open Sans Light';
        font-size: 30px;
        margin-top: 10px;
    }
    h4 {
        font-family: 'Raleway';
        font-size: 18px;
        margin-top: 10px;
    }
    p {
        color: $darkblue;
    }
}

.common-section {
    background-position: center top;
    background-size: cover;
    text-align: center;
    padding: 60px 0;
}

a.button-regular {
    font-family: 'Raleway';
    border: 1px solid white;
    font-size: 15px;
    border-radius: 0;
    padding: 10px 15px;
    color: white;
    text-transform: uppercase;
    &:hover {
        text-decoration: none;
        background-color: white;
        color: $blue;
    }
    &:focus {
        text-decoration: none;
    }
}
a.button-regular-blue {
    font-family: 'Raleway';
    border: 1px solid #4386d0;
    background-color: #4386d0;
    font-size: 15px;
    border-radius: 0;
    padding: 10px 15px;
    color: white;
    text-transform: uppercase;
    &:hover {
        background-color: white;
        border-color: white;
        color: $blue;
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
    }
}

section.two-of-all {
    background-image: url('../../assets/images/section-2-bg.png');
}
section.three-of-all {
    background-image: url('../../assets/images/section-3-bg.png');
}
section.four-of-all {
    background-image: url('../../assets/images/section-4-bg.png');
}
section.five-of-all {
    background-image: url('../../assets/images/section-5-bg.png');
}
section.six-of-all {
    background: url('../../assets/images/bg-white-grey.png');
    background-repeat: repeat;
    .post-inner {
        background-color: white;
        img {
            overflow: hidden;
            width: 100%;
            max-width: 100%;
        }
    }
}
section.seven-of-all {
    background-image: url('../../assets/images/section-6-bg.png');
}
section.eight-of-all {
    background-image: url('../../assets/images/section-7-bg.png');
}
section.nine-of-all {
    background-image: url('../../assets/images/section-8-bg.png');
}
section.ten-of-all {
    background-image: url('../../assets/images/section-9-bg.png');
}
section.eleven-of-all {
    background-image: url('../../assets/images/section-10-bg.png');
}

// Section #1 styles
section.top-header-section {
    background-image: url('../../assets/images/section-1-bg.png');
    text-align: center;
    .section-content {
        color: white;
        padding: 140px 0 170px;
        margin: 0 100px;
        fieldset.line-wrapper {
            border: 1px solid white;
            padding-bottom: 30px;
            legend {
                font-family: 'Open Sans Bold';
                font-size: 48px;
                text-transform: uppercase;
                color: white;
                border-bottom: 0;
                width: auto;
                padding: 0 40px;
                margin: 0;
                line-height: 1;
            }
        }
    }
}
header#header {
    padding: 20px 0; 
}
.navbar ul.nav {
    li {
        margin: 0 15px;
        a {
            font-family: 'Open Sans Bold';
            background-color: transparent;
            font-size: 18px;
            text-transform: uppercase;
            color: white;
            &:hover {
                background-color: white;
                color: $darkblue;
                border-radius: 0;
            }
        }
        &:hover {
            border-radius: 0;
        }
    }
    li.contact-us a {
        font-family: 'OpenSans';
        border: 1px solid white;
        font-size: 14px;
        border-radius: 0;
        padding: 5px 15px;
        margin: 6px 0;
    }
}

// Section #2 Styles
section.two-of-all {
    padding: 80px 0 100px;
    color: white;
    h4 {
        margin: 19px 0 40px;
    }
}

// Section #3 Styles
section.three-of-all {
    h2 {
        color: $blue;
        margin-bottom: 25px;
    }
    h4 {
        color: $darkblue;
        margin-bottom: 35px;
        font-family: 'RalewayRegular';
    }
    .col-md-5 {
        padding: 150px 0;
        text-align: left;
        h3 {
            font-family: 'RalewayRegular';
            font-size: 30px;
            color: $blue;
            margin-bottom: 20px;
        }
    }
}

// Section #4 Styles
section.four-of-all {
    padding: 75px 0;
    color: white;
    h2 {
        margin-bottom: 40px;
    }
    .large-digits {
        font-family: 'Open Sans Light';
        font-size: 48px;
    }
    .beside-digits {
        font-family: 'Open Sans Light';
        font-size: 30px;
        line-height: 1;
        position: relative;
        bottom: 5px;
    }
    h4 {
        font-family: 'Raleway';
        font-size: 24px;
        margin-top: 3px;
    }
}

// Section #5 Styles
section.five-of-all {
    h2 {
        margin-bottom: 60px;
    }
    color: white;
    .inner-content {
        min-height: 350px;
        padding: 0 35px 35px;
    }
    img {
        clear: both;
        display: block;
        margin: 0 auto 20px;
    }
    .column-title {
        font-family: 'RalewayRegular';
        font-size: 24px;
        line-height: 1.3;
        
    }
    p {
        color: white;
        margin-top: 20px;
        line-height: 1.8;
    }
    
}

// Section #6 Styles
section.six-of-all {
    h2 {
        color: $blue;
        margin-bottom: 40px;
    }
    .row {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        .col {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 30px;
            .post-inner {
                h3.post-title {
                    color: $blue;
                    font-family: 'RalewayRegular';
                    font-size: 24px;
                    line-height: 1.3;
                    margin: 25px 0 10px;
                }
                p {
                    color: $darkblue;
                    font-size: 16px;
                }
                a.post-button {
                    font-family: 'Raleway';
                    border: 1px solid $blue;
                    background-color: $blue;
                    font-size: 15px;
                    border-radius: 0;
                    padding: 10px 15px;
                    color: white;
                    text-transform: uppercase;
                    display: inline-block;
                    margin-bottom: 30px;
                    &:hover {
                        background: $darkblue;
                        text-decoration: none;
                        border-color: $darkblue;
                    }
                    &:focus {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

// Section #7 Styles
section.seven-of-all {
    padding: 60px 0 100px;
    color: white;
    h2 {
        margin-bottom: 20px;
    }
    h4 {
        font-family: 'RalewayRegular';
        margin-bottom: 40px;
    }
}

// Section #8 Styles
section.eight-of-all {
    padding-bottom: 80px;
    color: white;
    h2 {
        padding-bottom: 60px;
    }
    .col-md-3 {
        .person-inner {
            background: #7c6568;
            border-radius: 50%;
            height: 210px;
            width: 210px;
            position: relative;
            display: inline-block;
            .portrait {
                position: absolute;
                border-radius: 50%;
                overflow: hidden;
                height: 190px;
                width: 190px;
                top: 50%;
                left: 50%;
                margin: -95px 0px 0px -95px;
                img {
                    position: relative;
                    transform: translate(-5%,0);
                    -webkit-transform: translate(-5%,0);
                    -ms-transform: translate(-5%,0);
                }
                
            }
        }
        &:nth-child(3) {
            img {
                transform: translate(15%,0) !important;
                -webkit-transform: translate(15%,0) !important;
                -ms-transform: translate(15%,0) !important;
                left: -50%;
            }
        }
    }
    .person-name {
        font-size: 24px;
        margin-bottom: 5px;
    }
    .person-title {
        font-family: 'RalewayRegular';
        font-size: 17px;
    }
    .row {
        padding-bottom: 80px; 
    }
}

// Section #9 Styles
section.nine-of-all {
    h2 {
        color: $blue;
        padding-bottom: 40px;
    }
    img {
        margin-bottom: 25px;
    }
}
// Section #11 Styles
section.eleven-of-all {
    color: white;
    p {
        color: white;
    }
    span.phone {
        font-family: 'RalewayRegular';
        font-size: 17px;
        position: relative;
        display: inline-block;
        padding: 0 30px;
        &::before {
            content: '';
            background-image: url('../../assets/images/icon-phone.png');
            width: 14px;
            height: 23px;
            display: block;
            position: absolute;
            left: 0px;
        }
    }
    span.email {
        font-family: 'RalewayRegular';
        font-size: 17px;
        position: relative;
        display: inline-block;
        padding: 0 30px;
        &::before {
            content: '';
            background-image: url('../../assets/images/icon-letter.png');
            width: 22px;
            height: 17px;
            display: block;
            position: absolute;
            left: 0px;
            top: 3px;
        }
    }
    .footer-description {
        border-top: 1px solid #0b2845;
        border-bottom: 1px solid #0b2845;
        margin-top: 30px;
        padding: 30px 0;
    }
    div.footer-nav {
        padding: 25px 0;
        ul.footer-nav {
            li.menu-item {
                display: inline-block;
                a {
                    font-family: 'Ralewayregular';
                    font-size: 18px;
                    text-transform: uppercase;
                    color: white;
                    &:hover {
                        color: $darkblue;
                    }   
                }
            } 
        }
    }
}